<div class="d-flex flex-column justifiy-content-center align-items-center mb-5">
    <div class="img-container p-3">
        <a href="">
            <img class="img-fluid" [src]="product.url" alt="">
        </a>
    </div>
    <div class="title pt-3">
        <h5> {{ product.name }} </h5>
    </div>
    <div class="price pt-1">
        <h5> {{ product.price }} </h5>
    </div>
    <div class="amount pt-1">
        <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6</mat-option>
              <mat-option value="7">7</mat-option>
              <mat-option value="8">8</mat-option>
              <mat-option value="9">9</mat-option>
              <mat-option value="10">10</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="price pt-1">
        <button (click)="cartProduct(product)" mat-raised-button color="primary">Add to Cart</button>
    </div>    
</div>
